*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   /* background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #82c5e4 75%);*/
   background-image: url(back.jpg)  ;
    
    

}
.calculatrice
{
 background-color: pink;
 display: flex;
 flex-direction: column;
 padding: 15px;
 border-radius: 5px;
 box-shadow:  5px rgb(121, 118, 118);
}

.Bare_calcul
{
    width:100%;
    height: 100px;
    background-color: rgb(143, 165, 194);
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    font-size: 25px;
}

.bouton_cal
{
    display: grid;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: repeat(5,50px);
    grid-gap:7px;
}

button
{
    border: none;
   
    border-radius: 5px;
    box-shadow: 0 3px gray;
    font-size: 18px;
}

button:active
{
    box-shadow: 0 1px gray;
    transform: transtatey(2px);
    background-color: gainsboro;
}
.Clear
{
    background-color: orange;
    font-weight: bold;
    color: white;
    font-size: 15px;
}

.egal{
    /*grid-column: span 2;*/
    background-color:rgb(63, 104, 180) ;
    font-weight: bold;
    font-size: 30px;
    color: white;
}